body{
    background-color: rgb(221, 121, 121);
    font-family: 'Courier New', Courier, monospace;
    width: 1000px;
    margin: auto;
    text-align: center;   
}

h1{
    margin: 100px auto;
    font-size: 50px;
}

button{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(225, 217, 144);
    padding: 20px;
}

button:hover{
    background-color: rgb(116, 134, 167);
}